* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.nav-bar {
    background-color: antiquewhite;
}

.nav-contant {
    max-width: 1200px;
    margin: auto;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 40px;
}

.menu {
    display: flex;
    gap: 32px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.btn {
    background-color: #469165;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.hero-part {
    background: url(./image/hero-bg.png) no-repeat center;
    background-size: cover;
    padding: 100px 20px;
}


.hero-content {
    max-width: 900px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #000;
}

.badge {
    width: 229px;
    margin: auto;
    display: flex;
    background-color: #e8f5ec;
    color: #469165;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

.hero-content h1 {
    font-size: 72px;
    line-height: 1.2;
}

.hero-content #heading-1{
    color: #e8f5ec;
}

.hero-content #heading-2{
    color: #30B868;
}

.hero-content p {
    font-size: 18px;
    color: #ffffff;
    max-width: 700px;
    margin: auto;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.primary-btn {
    background-color: #469165;
    color: white;
    padding: 14px 22px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.secondary-btn {
    background-color: transparent;
    border: 2px solid #469165;
    color: #469165;
    padding: 14px 22px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    
}

.secondary-btn:hover{
    background-color:#469165 ;
    color: #ffffff;
}

@media (max-width: 992px) {
    .hero-content h1 {
        font-size: 36px;
    }
}



