* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}


.open-sans-style {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

.nav-bar {
    background-color: antiquewhite;
}

.nav-contant {
    max-width: 1200px;
    margin: auto;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 40px;
}

.menu {
    display: flex;
    gap: 32px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.btn {
    background-color: #469165;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.hero-part {
    background: url(./image/hero-bg.png) no-repeat center;
    background-size: cover;
    padding: 100px 20px;
}


.hero-content {
    max-width: 900px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #000;
}

.badge {
    width: 229px;
    margin: auto;
    display: flex;
    background-color: #e8f5ec;
    color: #469165;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
}

.hero-content h1 {
    font-size: 72px;
    line-height: 74px;
    letter-spacing: 0%;
    font-size: bold;
}

.hero-content #heading-1 {
    color: #e8f5ec;
}

.hero-content #heading-2 {
    color: #30B868;
}

.hero-content p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #ffffff;
    max-width: 700px;
    margin: auto;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.primary-btn {
    background-color: #469165;
    color: white;
    padding: 14px 22px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.secondary-btn {
    background-color: transparent;
    border: 2px solid #469165;
    color: #469165;
    padding: 14px 22px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

}

.secondary-btn:hover {
    background-color: #469165;
    color: #ffffff;
}

@media (max-width: 992px) {
    .hero-content h1 {
        font-size: 36px;
    }
}

.card-section {
    height: 448px;
    max-width: 1140px;
    margin: 0 auto;
}

.card-titel {
    height: 152px;
    padding-top: 54px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.card-titel p {
    color: #627382;
}

.card-section .card-content {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    justify-content: center;
    gap: 24px;
}

.card-content .card-data {
    height: 300px;
    width: 322px;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #00000027;
}

.card-data h3 {
    font: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;

}

.card-data p {
    padding: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    font-size: 16px;
    color: #627382;
}

.card-data img {
    margin: 70px 131px 16px 131px;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #f95555;
    border-radius: 50%;
    color: #ffffff;
}